In [2]:
import pandas as pd
from datetime import timedelta,datetime
import numpy as np

In [2]:
sales_data = pd.read_csv(r'C:\Users\Ranjith.gc\Training(Ranjith)\Phase 2\UseCase2_Ec2\ETL_PIPELINE\sales_data_sample.csv')

In [3]:
sales_data['ORDERDATE']=pd.to_datetime(sales_data['ORDERDATE'])

In [4]:
now = datetime.now()
print(now)
subtracted_date = now - timedelta(days=1)
subtracted_date

2021-11-25 18:09:30.512654

datetime.datetime(2021, 11, 24, 18, 9, 30, 512654)

In [5]:
add_hour = subtracted_date + timedelta(hours=1)
add_hour

datetime.datetime(2021, 11, 24, 19, 9, 30, 512654)

In [6]:
pd.to_datetime(add_hour)

Timestamp('2021-11-24 19:09:30.512654')

In [7]:
extract = sales_data[(sales_data['ORDERDATE']>=pd.to_datetime(subtracted_date)) & (sales_data['ORDERDATE']<=pd.to_datetime(add_hour))]

In [22]:
extract['ORDERDATE'] = pd.Timestamp(extract['ORDERDATE'])

TypeError: Cannot convert input [4     2021-11-24 19:00:00
28    2021-11-24 19:00:00
52    2021-11-24 19:00:00
76    2021-11-24 19:00:00
100   2021-11-24 19:00:00
124   2021-11-24 19:00:00
148   2021-11-24 19:00:00
172   2021-11-24 19:00:00
196   2021-11-24 19:00:00
220   2021-11-24 19:00:00
244   2021-11-24 19:00:00
268   2021-11-24 19:00:00
292   2021-11-24 19:00:00
316   2021-11-24 19:00:00
340   2021-11-24 19:00:00
364   2021-11-24 19:00:00
388   2021-11-24 19:00:00
412   2021-11-24 19:00:00
436   2021-11-24 19:00:00
460   2021-11-24 19:00:00
484   2021-11-24 19:00:00
508   2021-11-24 19:00:00
532   2021-11-24 19:00:00
556   2021-11-24 19:00:00
580   2021-11-24 19:00:00
604   2021-11-24 19:00:00
Name: ORDERDATE, dtype: datetime64[ns]] of type <class 'pandas.core.series.Series'> to Timestamp

In [15]:
extract.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26 entries, 4 to 604
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ORDERNUMBER      26 non-null     int64
 1   QUANTITYORDERED  26 non-null     int64
 2   PRICEEACH        26 non-null     float64
 3   ORDERLINENUMBER  26 non-null     int64
 4   SALES            26 non-null     float64
 5   ORDERDATE        26 non-null     datetime64[ns]
 6   STATUS           26 non-null     object
 7   QTR_ID           26 non-null     int64
 8   MONTH_ID         26 non-null     int64
 9   YEAR_ID          26 non-null     int64
 10  PRODUCTLINE      26 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(6), object(2)
memory usage: 2.4+ KB