In [1]:
import pandas as pd  
import numpy as np  
info=pd.DataFrame([[1,5,7],[10,12,15],[18,21,24],[np.nan,np.nan,np.nan]],columns=['X','Y','Z'])  
info.agg(['sum','min'])

        X     Y     Z
sum  29.0  38.0  46.0
min   1.0   5.0   7.0

In [3]:
import pandas as pd  
import numpy as np  
info=pd.DataFrame([[1,5,7],[10,12,15],[18,21,24],[np.nan,np.nan,np.nan]],columns=['X','Y','Z'])  
info.agg({'X' : ['sum', 'min'], 'Y' : ['min', 'max']})

        X     Y
sum  29.0   NaN
min   1.0   5.0
max   NaN  21.0