In [3]:
import pandas as pd
import numpy as np

In [2]:
num = [1, 4, 9, 16, 25, 36]
df = pd.DataFrame(num)
df

    0
0   1
1   4
2   9
3  16
4  25
5  36

In [4]:
df.apply(np.sqrt)

     0
0  1.0
1  2.0
2  3.0
3  4.0
4  5.0
5  6.0

In [5]:
df.apply(np.sum, axis=0)

0    91
dtype: int64

In [6]:
df.apply(np.min, axis=0)

0    1
dtype: int64

In [7]:
df.apply(np.max, axis=0)

0    36
dtype: int64

In [9]:
df.apply(np.average, axis=0)

0    15.166667
dtype: float64