# Pandas Series 1D

In [1]:
import pandas as pd

In [2]:
numbers = [1,2,3,4,5,6,9,2,3,4,5,1]
df = pd.Series(numbers)
print(df)

0     1
1     2
2     3
3     4
4     5
5     6
6     9
7     2
8     3
9     4
10    5
11    1
dtype: int64

# Indexing and Slicing

In [3]:
df[0:11]

0     1
1     2
2     3
3     4
4     5
5     6
6     9
7     2
8     3
9     4
10    5
dtype: int64

In [4]:
df[4]

5

In [5]:
df[:5]

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
df[3:]

3     4
4     5
5     6
6     9
7     2
8     3
9     4
10    5
11    1
dtype: int64

# Pandas DataFrames

In [8]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [9]:
df.loc[0]

calories    420
duration     50
Name: 0, dtype: int64

In [10]:
df.loc[0:2]

   calories  duration
0       420        50
1       380        40
2       390        45